@using Technics.com.Models
@model List<Order>

<div class="container" style="margin-top:80px">
    <h1 class="h3 mb-3 font-weight-normal" style="margin-left:35%">Список доставленных заказов</h1>

    @foreach (var el in Model)
    {
        <div class="alert body alert-warning mt-3">
            <b style="margin-left:45%">Номер заказа:@el.Id</b>
            <br />

            @{
                foreach (var item in el.ProductsOrders.Select(x => x.Product))
                {
                    var prodOrd = item.ProductsOrders.FirstOrDefault(x => x.OrderId == el.Id);
                    var count = prodOrd.Count;

                    var price = item.Price * count;

                    <b>Товар:</b>@item.Name<br />
                    <b>Количество:</b>@count<br />
                    <br />

                }
            }

            <b>Дата заказа:</b>@el.OrderTime<br />
            <b>Общая цена заказа:</b>@el.Price<br />
            <b>Покупатель:</b>@el.User.Name<br />
            <b>Телефон:</b>@el.User.Phone<br />
        </div>
    }
</div>
