@using Technics.com.Models
@using Technics.com.Enums
@model List<Order>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.js"></script>

<body>
    <div class="container" style="margin-top:80px">
        <h1 class="h3 mb-3 font-weight-normal" style="margin-left:30%">Список несортированных заказов</h1>

        @foreach (var el in Model)
        {
            <div class="alert body alert-warning mt-3">
                <b style="margin-left:45%">Номер заказа:@el.Id</b>
                <a class="nav-link" style="margin-left:-2%;margin-top:-35px" href='@Url.Action("DeleteOrderById",
                                                                                                "AdminOrder",
                                                                                                new { orderId = el.Id })'>
                    <img src="https://img.icons8.com/windows/32/000000/delete-sign.png" />
                </a>
                <div style="margin-left:82%">Подтверждено</div>
                @{
                    if (el.ConfirmOrder == true)
                    {
                        <a class="nav-link firstRenderCheckedConfirm" style="margin-left:93%;margin-top:-35px;" data-custom-value="@el.Id">
                            <img src="https://img.icons8.com/windows/32/000000/checked-2.png" />
                        </a>
                    }
                    else
                    {
                        <a class="nav-link firstRenderUncheckedConfirm" style="margin-left:93%;margin-top:-35px;" data-custom-value="@el.Id">
                            <img src="https://img.icons8.com/windows/32/000000/unchecked-checkbox.png" />
                        </a>
                    }


                    <a class="nav-link checkedConfirm" style="margin-left:93%;margin-top:-35px;display:none" id="checkedConfirm+@el.Id" data-custom-value="@el.Id">
                        <img src="https://img.icons8.com/windows/32/000000/checked-2.png" />
                    </a>

                    <a class="nav-link uncheckedConfirm" style="margin-left:93%;margin-top:-35px;display:none" id="uncheckedConfirm+@el.Id" data-custom-value="@el.Id">
                        <img src="https://img.icons8.com/windows/32/000000/unchecked-checkbox.png" />
                    </a>


                    if (el.PaymentMethod == Technics.com.PaymentMethod.NowToABankCard)
                    {
                        <div style="margin-left:82%;margin-top:5px">Оплачено</div>

                        if (el.Paid == false)
                        {
                            <a class="nav-link firstRenderUncheckedPaid" style="margin-left:93%;margin-top:-35px;margin-bottom:-80px" data-custom-value="@el.Id">
                                <img style="" src="https://img.icons8.com/windows/32/000000/unchecked-checkbox.png" />
                            </a>
                        }
                        else
                        {
                            <a class="nav-link firstRenderCheckedPaid" style="margin-left:93%;margin-top:-35px;margin-bottom:-80px" data-custom-value="@el.Id">
                                <img style="" src="https://img.icons8.com/windows/32/000000/checked-2.png" />
                            </a>
                        }

                        <a class="nav-link checkedPaid" style="margin-left:93%;margin-top:-35px;margin-bottom:-80px;display:none" id="checkedPaid+@el.Id" data-custom-value="@el.Id">
                            <img src="https://img.icons8.com/windows/32/000000/checked-2.png" />
                        </a>

                        <a class="nav-link uncheckedPaid" style="margin-left:93%;margin-top:-35px;margin-bottom:-80px;display:none" id="uncheckedPaid+@el.Id" data-custom-value="@el.Id">
                            <img src="https://img.icons8.com/windows/32/000000/unchecked-checkbox.png" />
                        </a>
                    }
                    else
                    {
                        <div style="margin-left:82%;margin-top:5px;margin-bottom:-75px;">Оплата при получении</div>
                    }
                }

                <br />

                @{
                    foreach (var item in el.ProductsOrders.Select(x => x.Product))
                    {
                        var prodOrd = item.ProductsOrders.FirstOrDefault(x => x.OrderId == el.Id);
                        var count = prodOrd.Count;

                        var price = item.Price * count;

                        <b>Товар:</b>@item.Name<br />
                        <b>Цена:</b>@price.ToString("c");<br />
                        <b>Количество:</b>@count<br />
                        <br />

                    }
                }

                <b>Индекс:</b>@el.PostCode<br />
                <b>Город доставки:</b>@el.ToTown<br />
                <b>Дата заказа:</b>@el.OrderTime<br />
                <b>Общая цена заказа:</b>@el.Price<br />
                <b>Покупатель:</b>@el.User.Name<br />
                <b>Телефон:</b>@el.User.Phone<br />
            </div>
        }

    </div>
</body>

<script>
    $(document).ready(function () {
        $(".firstRenderCheckedConfirm").click(function () {
            var id = $(this).data("custom-value");
            var button = $(this);
            $.ajax({
                type: 'get',
                url: '/AdminOrder/UpdateOrder',
                data: 'by=@ChangeOrder.CONFIRM&orderId=' + id,
                success: function () {
                    button.hide();

                    document.getElementById("uncheckedConfirm+" + id).style.display = "block";
                }
            });
        });

        $(".firstRenderUncheckedConfirm").click(function () {
            var id = $(this).data("custom-value");
            var button = $(this);
            $.ajax({
                type: 'get',
                url: '/AdminOrder/UpdateOrder',
                data: 'by=@ChangeOrder.CONFIRM&orderId=' + id,
                success: function () {
                    button.hide();
                    document.getElementById("checkedConfirm+" + id).style.display = "block";
                }
            });
        });

        $(".checkedConfirm").click(function () {
            var id = $(this).data("custom-value");
            $.ajax({
                type: 'get',
                url: '/AdminOrder/UpdateOrder',
                data: 'by=@ChangeOrder.CONFIRM&orderId=' + id,
                success: function () {
                    document.getElementById("checkedConfirm+" + id).style.display = "none";
                    document.getElementById("uncheckedConfirm+" + id).style.display = "block";
                }
            });
        });

        $(".uncheckedConfirm").click(function () {
            var id = $(this).data("custom-value");
            $.ajax({
                type: 'get',
                url: '/AdminOrder/UpdateOrder',
                data: 'by=@ChangeOrder.CONFIRM&orderId=' + id,
                success: function () {
                    document.getElementById("uncheckedConfirm+" + id).style.display = "none";
                    document.getElementById("checkedConfirm+" + id).style.display = "block";
                }
            });
        });

        $(".firstRenderCheckedPaid").click(function () {
            var id = $(this).data("custom-value");
            var button = $(this);
            $.ajax({
                type: 'get',
                url: '/AdminOrder/UpdateOrder',
                data: 'by=@ChangeOrder.PAID&orderId=' + id,
                success: function () {
                    button.hide();
                    document.getElementById("uncheckedPaid+" + id).style.display = "block";
                }
            });
        });

        $(".firstRenderUncheckedPaid").click(function () {
            var id = $(this).data("custom-value");
            var button = $(this);
            $.ajax({
                type: 'get',
                url: '/AdminOrder/UpdateOrder',
                data: 'by=@ChangeOrder.PAID&orderId=' + id,
                success: function () {
                    button.hide();
                    document.getElementById("checkedPaid+" + id).style.display = "block";
                }
            });
        });

        $(".checkedPaid").click(function () {
            var id = $(this).data("custom-value");
            $.ajax({
                type: 'get',
                url: '/AdminOrder/UpdateOrder',
                data: 'by=@ChangeOrder.PAID&orderId=' + id,
                success: function () {
                    document.getElementById("checkedPaid+" + id).style.display = "none";
                    document.getElementById("uncheckedPaid+" + id).style.display = "block";
                }
            });
        });

        $(".uncheckedPaid").click(function () {
            var id = $(this).data("custom-value");
            $.ajax({
                type: 'get',
                url: '/AdminOrder/UpdateOrder',
                data: 'by=@ChangeOrder.PAID&orderId=' + id,
                success: function () {
                    document.getElementById("uncheckedPaid+" + id).style.display = "none";
                    document.getElementById("checkedPaid+" + id).style.display = "block";
                }
            });
        });
    });
</script>
